<!DOCTYPE html>
{% load static %} <!-- Tag reposnsavel por carregar o modo static-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'mysite/css/styles.css' %}" /> <!-- Modo static-->
    <title>Pagina inicial</title>
</head>
<body>
    <div class="header">
            <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                    <a class="pure-menu-heading" href="{% url 'home' %}">SIMPLE MOOC</a>
                    <ul>
                        <li class="pure-menu-selected"><a href="{% url 'home' %}">Início</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
            </div>
    </div>
    <div class="content">

        {% block content %} {% endblock %}
        <div class="footer">
                <h5 align="center">Projeto Web - &COPY;Antonio Stanislaw</h5>
        </div>
    </div>
    <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>