 {% extends "layout/base.html" %}
 {% block title %} Contato {% endblock %}
 {% block content %}
    <head>
        <title>Contato</title>
    </head>
    <h1>Fale conosco</h1>
    <h3> Você pode entrar em contato conosco tanto por email, como pelas redes socciais:</h3>
    <h5>Links</h5>
    <ul>
        <li>E-mail: <a href="mailto:stanislaw.iaw2018@gmail.com">stanislaw.iaw2018@gmail.com</a></li>
        <li>facebook: <a href="https://www.facebook.com/toninho.vaz.5" target="_blank">Meu Perfil</a></li>
    </ul>
{% endblock %}
